
{% assign no_avatar = 'https://people.planningcenteronline.com/static/no_photo_thumbnail.gif' %}



<!-- DO SOME RESEARCH HERE ON CREATING LETTER SIZE BODY -->
<html lang="en">
<head>
    <style>

        body { size: 8.5in 11in; }
        #page_body {size: 8.5in 11in; page-break-after: always; }
        .content { margin-left: 1in; margin-right: 1in; }
        .header { height: 2in; position: float; top: 0px; }
        .footer {
            bottom: 0;
            width: 8.5in;
            height: .83in;
            position:absolute;
            left: 0px;
        }
    </style>
</head>
<body>


    {% for household in households %}
        
        {% assign primary-first-name = "" %}
        {% assign primary-last-name = "" %}
        {% assign primary-birth-date = "" %}
        {% assign primary-phone = "" %}
        {% assign primary-email = "" %}
        {% assign primary-weight = "" %}
        {% assign spouse-first-name = "" %}
        {% assign spouse-last-name = "" %}
        {% assign spouse-birth-date = "" %}
        {% assign spouse-phone = "" %}
        {% assign spouse-email = "" %}
        {% assign spouse-weight = "" %}
        {% assign children = "" %}
        {% assign child-weights = "" %}
        {% assign address-line-a = "" %}
        {% assign address-line-b = "" %}
        {% assign primary-photo = no_avatar %}

        {% assign phone-array = nil %}
        {% assign phone-array-final = nil %}

        {% assign phone-loc-array = nil %}
        {% assign f-init-array = nil %}

        {% assign fname-array = nil %}
        {% assign col-array = nil %}
        {% assign mil-array = nil %}
        {% assign mem-array = nil %}

        {% assign primary-first-name = household.primary_contact.first_name %}
        {% assign fname-array = household.primary_contact.first_name | append: "|" %}
        {% assign col-array = household.primary_contact.school_type | append: "|" %}
        {% assign mil-array = household.primary_contact.custom_tabs.military.military | append: "|" %}
        {% assign mem-array = household.primary_contact.membership | append: "|" %}

        {% assign primary-last-name = household.primary_contact.last_name %}
        {% assign primary-birthdate = household.primary_contact.birthdate | date: "%m/%d/%Y" %}
        {% if household.primary_contact.primary_phone_number %}{% assign primary-phone = household.primary_contact.primary_phone_number %}{% endif %}
        
        {% assign phone-array = household.primary_contact.primary_phone_number | append: "|" %}
        {% assign phone-loc-array = household.primary_contact.primary_phone_number.location | append: "|" %}
        {% assign f-init-array = primary-first-name | truncate: 1, "" | append: "|" %}

        {% assign primary-phone-loc = household.primary_contact.primary_phone_number.location %}
        {% assign primary-email = household.primary_contact.primary_email %}
        
        {% unless household.primary_contact.marital_status != "Married" %}
            {% for adult in household.adults %}
                {% if adult.name != household.primary_contact.name and adult.marital_status == "Married" and adult.gender != household.primary_contact.gender %}
                    {% assign tmp-i = "" %}
                    {% assign spouse-first-name = adult.first_name %}
                    {% assign tmp-i = spouse-first-name | truncate: 1, "" %}
                    
                    {% assign fname-array = fname-array | append: adult.first_name | append: "|" %}
                    {% assign col-array = col-array | append: adult.school_type | append: "|" %}
                    {% assign mil-array = mil-array | append: adult.custom_tabs.military.military | append: "|" %}
                    {% assign mem-array = mem-array | append: adult.membership | append: "|" %}

                    {% assign spouse-last-name = adult.last_name %}
                    {% assign spouse-birth-date = adult.birthdate | date: "%m/%d/%Y" %}
                    {% assign spouse-phone = adult.primary_phone_number %}
                    
                    {% assign phone-array = phone-array | append: adult.primary_phone_number %}
                    {% assign phone-loc-array = phone-loc-array | append: adult.primary_phone_number.location %}
                    {% assign f-init-array = f-init-array | append: tmp-i %}

                    {% assign spouse-phone-loc = adult.primary_phone_number.location %}
                    {% assign spouse-email = adult.primary_email %}
                {% endif %}
            {% endfor %}
        {% endunless %}

        {% for child in household.active_children %}

            {% assign fname-array = fname-array | append: child.first_name | append: "|" %}
            {% assign col-array = col-array | append: child.school_type | append: "|" %}
            {% assign mil-array = mil-array | append: child.custom_tabs.military.military | append: "|" %}
            {% assign mem-array = mem-array | append: child.membership | append: "|" %}

        {% endfor %}

        {% assign temp-name = "" %}
        {% assign temp-style = "" %}
        {% assign fname-array = fname-array | split: "|" %}
        {% assign col-array = col-array | split: "|" %}
        {% assign mil-array = mil-array | split: "|" %}
        {% assign mem-array = mem-array | split: "|" %}
        
        {% for i in fname-array %}
            
            {% if mem-array[forloop.index0] == "Member" %}{% assign temp-style = temp-style | append: "bold" %}{% else %}{% assign temp-style = temp-style | append: "normal" %}{% endif %} 
            {% assign temp-name = temp-name | append: i %}
            {% if col-array[forloop.index0] == "college" %}{% assign temp-name = temp-name | append: " (C)" %}{% endif %}
            {% if mil-array[forloop.index0] == "true" %}{% assign temp-name = temp-name | append: " (M)" %}{% endif %}
            {% assign temp-name = temp-name | append: "|" %}
            {% assign temp-style = temp-style | append: "|" %}
        
        {% endfor %}
        
        {% assign fname-array = temp-name | split: "|" %}
        {% assign temp-style = temp-style | split: "|" %}
        
        {% for name in fname-array %}
            {% if forloop.index0 == 0 %}
                {% assign primary-first-name = name %}
                {% assign primary-weight = temp-style[forloop.index0] %}
            {% elsif forloop.index0 == 1 %}
                {% assign spouse-first-name = name %}
                {% assign spouse-weight = temp-style[forloop.index0] %}
            {% else %}
                {% assign children = children | append: name %}
                {% assign child-weights = child-weights | append: temp-style[forloop.index0] | append: "|" %}
            {% endif %}
        {% endfor %}

        {% assign child-weights = child-weights | split: "|" %}

        {% if household.primary_contact.custom_tabs.directory.2018_photo %}
            {% assign primary-photo = household.primary_contact.custom_tabs.directory.2018_photo.url %}
        {% endif %}

        {% assign phone-array = phone-array | remove: "-" | remove: "." | split: "|" %}
        {% assign phone-loc-array = phone-loc-array | split: "|" %}
        {% assign f-init-array = f-init-array | split: "|" %}

        {% for phone in phone-array %}
            {% assign n = phone | split: "" %}
            {% assign s = n | size %}
            {% assign temp-num = "" %}
            {% assign temp-loc = "" %}

            {% if s == 7 %}
                {% capture temp-num %}
                    {{ n[0] }}{{ n[1] }}{{ n[2] }}-{{ n[3] }}{{ n[4] }}{{ n[5] }}{{ n[6] }}
                {% endcapture %}
            {% elsif s == 10 %}
                {% capture temp-num %}
                    ({{ n[0] }}{{ n[1] }}{{ n[2] }}) {{ n[3] }}{{ n[4] }}{{ n[5] }}-{{ n[6] }}{{ n[7] }}{{ n[8] }}{{ n[9] }}
                {% endcapture %}
            {% else %}
            {% endif %}
            
            {% if phone-loc-array[forloop.index0] == "Mobile" %}{% assign temp-loc = "cell" %}{% endif %}

            {% assign phone-array-final = phone-array-final | append: temp-num | append: " " | append: temp-loc | append: " - " | append: f-init-array[forloop.index0] | append: "|" %}
        {% endfor %}

        {% assign phone-array-final = phone-array-final | split: "|" %}

        {% if household.primary_address %}
            {% capture address-line-a %}
                {{ household.primary_address.street_line_1 }} {{ household.primary_address.street_line_2 }}
            {% endcapture %}
    
            {% capture address-line-b %}
                {{ household.primary_address.city }}, {{ household.primary_address.state }} {{ household.primary_address.zip }}
            {% endcapture %}
        {% endif %}

        <div style="float:left; width:50%; height:5.1in;">
            
            <img src="{{ primary-photo }}" width="85%" height="200px"/>

            
            {% if household.primary_contact.last_name == spouse-last-name and spouse-last-name != "" %}
                <div>
                <div style="display:inline-block; font-weight:{{ primary-weight }}">{{primary-first-name }}</div>
                <div style="display:inline-block;">and</div>
                <div style="display:inline-block; font-weight:{{ spouse-weight }}">{{ spouse-first-name }}</div> 
                <div style="display:inline-block; font-weight:{% if primary-weight == "bold" and spouse-weight == "bold" %}{{ primary-weight }}{% endif %}">{{ primary-last-name }}</div>
                </div>
            {% elsif spouse-last-name != "" %}
                <div>
                <div style="display:inline-block; font-weight:{{ primary-weight }}">{{ primary-first-name }} {{primary-last-name }}</div>
                <div style="display:inline-block;">and</div>
                <div style="display:inline-block; font-weight:{{ spouse-weight }}">{{ spouse-first-name }} {{ spouse-last-name }}</div>
                </div>
            {% else %}
                <div style="font-weight:{{ primary-weight }}">{{ primary-first-name }} {{ primary-last-name }} </div>
            {% endif %}

            <div>{{ address-line-a }} </div>
            <div>{{ address-line-b }} </div>
            <div>{{ phone-array-final[0] }}</div>
            <div>{{ phone-array-final[1] }}</div>
            <div>{{ primary-email }}</div>
            <div>{{ spouse-email }}</div>
            
            <!-- MUST ADD LOOP FOR CHILD DIVS -->
            <div>{{ children }}</div>
        </div>
    {% endfor %}
</body>
</html>
